.cv{
    margin: 20px 50px;
}

.iframe-cv-container{
    display: none;
}

.align-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .cv{
      margin: 20px 0;
    }
}
