* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
  height: 100%; /* Permet au conteneur de s'étendre sur toute la hauteur */
  background-color: #f8fafc;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'étend sur toute la hauteur de la fenêtre */
}

.btn-back{
  position: fixed;
  font-weight: bold;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-back:hover{
  opacity: 0.8;
}