header{
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 50px;
}
@media screen and (max-width: 768px) {
    .header-content{
      margin: 0;
    }
}
.avatar-header-container{
    display: flex;
    align-items: center;
    width:50px;
    height: 50px;
    
}
.avatar-header{
    border-radius: 50%;
    width:100%;
    height: 100%;
    object-fit:cover;
}

.avatar-and-title-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-header-container > h3 > a{
    font-family:Arial;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.title-header-container{
    margin-left: 5px;
}
.header-right-content a{
    color: rgb(50, 50, 50);
    margin: 0 1rem;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all var(--transition-speed) ease;
    position: relative;
}

.header-right-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background-color: #000; 
    transition: width var(--transition-speed) ease;
}

.header-right-content a:hover::after {
    width: 100%;
}

.header-active-link {
    color: #FF6464 !important;
    font-weight: bold;
}

.index-header-link-portfolio{
    top: -3px;
}

/*BURGER*/
.btn-burger{
    display: none;
    background:none;
    color: black;
    font-weight: bold;
    font-size: 26px;
    width: auto;
    border: none;
}

@media screen and (max-width: 768px){
    .header-content{
        display: block;
    }
    .header-right-content{
        display: none;
    }
    .header-right-content.show{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-left-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-burger{
        display: block;
        margin: 0;
        height: auto;
        padding: 0;
        cursor: pointer;
    }
    .header-right-content a{
         margin: 1rem 0;
    }
}

