.articles-recent{
    background-color: #EDF7FA;
    width: 100%;
    padding: 30px 0;
}
.articles-recent-content{
    margin: 0 120px;
}
.header-links-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-links p{
    float: left;
    font-size: 22px;
    color: #21243D;
}